.Normal_text {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:13.33px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.toc_1 {font-family:'Trebuchet MS';font-weight:normal;font-style:normal;font-size:13.33px;text-decoration:none;background-color:Transparent;letter-spacing:0em;}
.List_Paragraph {font-family:'Trebuchet MS';}
.footer {font-size:16px;}
.x-01HMParagraph {font-family:'Trebuchet MS';font-weight:normal;font-style:normal;font-size:13.33px;text-decoration:none;background-color:Transparent;letter-spacing:0em;}
.Heading_1 {font-family:'Trebuchet MS';font-weight:bold;font-style:normal;font-size:18.67px;text-decoration:none;background-color:Transparent;letter-spacing:0em;}
.TOC_Heading {}
.No_Spacing {font-family:'Calibri';font-weight:normal;font-style:normal;font-size:13.33px;text-decoration:none;background-color:Transparent;letter-spacing:0em;}
.x-01Verse {font-family:Arial;font-weight:normal;font-style:normal;font-size:13.33px;text-decoration:none;background-color:#D8D8D8;letter-spacing:0em;}
.x-02Verse {background-color:#E7E6E6;}
.HMTitle01 {font-family:'Trebuchet MS';font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;background-color:Transparent;letter-spacing:0em;}
.Heading_2 {font-size:16px;}
.Hanging_1 {}
.x-03Verse {font-style:italic;}
.Intense_Quote {font-style:italic;}
